<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Acceuil</title>
</head>
<body>
	<h1>Biemvemue a ISO NAN <%= infos.name %></h1>
	<p>Prenoms : <%= infos.firstname %></p>
	<p>E-mail : <%= infos.mail %></p>
	<p>mot de passe : <%= infos.mdp %></p>
	
	<p>Bonne chance a vius car ici a ISO on bloque.</p>
</body>
</html>